@import "./BanChampCard/_BanChampCard";
@import "./MatchInfo/_MatchInfo";
@import "./MatchResult/_MatchResult";
@import "./SelectBoard/_SelectBoard";
@import "./SummonerCard/_SummonerCard";
@import "./TeamSelectMenu/_TeamSelectMenu";

.ban-pick-board {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../../Assets/img/css_url_img/board_background.jpg);
    background-size: cover;
    opacity: 1;
    z-index: 0;
  }
}

.board-top {
  position: relative;
  flex-wrap: nowrap;
  height: 12vh;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #0026ff, transparent, #ff3831);
    opacity: 0.2;
  }
}

.board-middle {
  height: 65vh;
  position: relative;
  z-index: 1;

  .blue-team__summoners,
  .red-team__summoners,
  .todays-goal,
  .champion-select-board,
  .spell-select-board {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding: 0.5vw 0 0;
    height: 100%;
  }

  .todays-goal {
    position: relative;
    align-items: center;
    flex: 1.5 0;
    margin: 0 2vw;

    .goal__patch-version-wrap {
      position: relative;
      align-self: flex-end;
      flex: 1 1 15%;

      .goal__patch-version {
        position: absolute;
        right: 0;
        top: 20%;
        border: none;
        text-align: center;
        background-color: transparent;
        color: #fff;
        font-size: 1.2vw;
        font-weight: 700;
        line-height: 2;

        &:hover {
          background-color: #bcbcbc78;
        }
      }
    }

    .goal__editor-wrap {
      width: 100%;
      flex: 1 1 70%;
      overflow: hidden;
      cursor: text;
      &:hover {
        background-color: #bcbcbc78;
      }
    }

    .goal__button-wrap {
      display: flex;
      width: 100%;
      flex: 1 1 15%;
      justify-content: space-evenly;
      align-items: center;

      button {
        width: 15vw;
        height: 40px;
        margin-top: 20px;
        border: none;
        border-radius: 7px;
        color: #fff;
        letter-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.55);

        &:hover {
          background-color: rgba(0, 0, 0, 0.65);
        }
      }

      .result-down-tooltip .multi-line {
        text-align: left !important;
      }
    }
  }

  /* .blue-team__summoners {
    .summoner {
      background-color: #6e83f81c;

      &[data-current-target="true"] {
        border-right: solid 5px rgb(85, 85, 255);
      }
    }

    .summoner__name {
      right: 0.3vw;
      &:hover {
        background-color: #bcbcbc78;
      }
    }
    .champion {
      &[id="Garen"] {
        transform: scaleX(-1);
      }
      &[id="Gangplank"] {
        transform: scaleX(-1);
      }
      &[id="Gragas"] {
        transform: scaleX(-1);
      }
      &[id="Graves"] {
        transform: scaleX(-1);
      }
      &[id="Nami"] {
        transform: scaleX(-1);
      }
      &[id="Nasus"] {
        transform: scaleX(-1);
      }
      &[id="Nautilus"] {
        transform: scaleX(-1);
      }
      &[id="Nocturne"] {
        transform: scaleX(-1);
      }
      &[id="Nunu"] {
        transform: scaleX(-1);
      }
      &[id="Nidalee"] {
        transform: scaleX(-1);
      }
      &[id="Neeko"] {
        transform: scaleX(-1);
      }
      &[id="Darius"] {
        transform: scaleX(-1);
      }
      &[id="Diana"] {
        transform: scaleX(-1);
      }
      &[id="Draven"] {
        transform: scaleX(-1);
      }

      &[id="Rakan"] {
        transform: scaleX(-1);
      }
      &[id="Rammus"] {
        transform: scaleX(-1);
      }

      &[id="Rumble"] {
        transform: scaleX(-1);
      }
      &[id="Renekton"] {
        transform: scaleX(-1);
      }
      &[id="Leona"] {
        transform: scaleX(-1);
      }
      &[id="RekSai"] {
        transform: scaleX(-1);
      }
      &[id="Lulu"] {
        transform: scaleX(-1);
      }
      &[id="Leblanc"] {
        transform: scaleX(-1);
      }
      &[id="LeeSin"] {
        transform: scaleX(-1);
      }
      &[id="Riven"] {
        transform: scaleX(-1);
      }
      &[id="Lissandra"] {
        transform: scaleX(-1);
      }
      &[id="MasterYi"] {
        transform: scaleX(-1);
      }
      &[id="Maokai"] {
        transform: scaleX(-1);
      }

      &[id="Malphite"] {
        transform: scaleX(-1);
      }
      &[id="Morgana"] {
        transform: scaleX(-1);
      }
      &[id="DrMundo"] {
        transform: scaleX(-1);
      }
      &[id="MissFortune"] {
        transform: scaleX(-1);
      }
      &[id="Vi"] {
        transform: scaleX(-1);
      }
      &[id="Vayne"] {
        transform: scaleX(-1);
      }
      &[id="Velkoz"] {
        transform: scaleX(-1);
      }
      &[id="Volibear"] {
        transform: scaleX(-1);
      }
      &[id="Belveth"] {
        transform: scaleX(-1);
      }
      &[id="Braum"] {
        transform: scaleX(-1);
      }
      &[id="Viktor"] {
        transform: scaleX(-1);
      }
      &[id="Samira"] {
        transform: scaleX(-1);
      }
      &[id="Sion"] {
        transform: scaleX(-1);
      }
      &[id="Shaco"] {
        transform: scaleX(-1);
      }
      &[id="Senna"] {
        transform: scaleX(-1);
      }
      &[id="Seraphine"] {
        transform: scaleX(-1);
      }

      &[id="Sett"] {
        transform: scaleX(-1);
      }
      &[id="Sona"] {
        transform: scaleX(-1);
      }
      &[id="Soraka"] {
        transform: scaleX(-1);
      }
      &[id="Shen"] {
        transform: scaleX(-1);
      }

      &[id="Swain"] {
        transform: scaleX(-1);
      }
      &[id="Skarner"] {
        transform: scaleX(-1);
      }
      &[id="Sivir"] {
        transform: scaleX(-1);
      }
      &[id="XinZhao"] {
        transform: scaleX(-1);
      }
      &[id="Syndra"] {
        transform: scaleX(-1);
      }

      &[id="Thresh"] {
        transform: scaleX(-1);
      }
      &[id="Ahri"] {
        transform: scaleX(-1);
      }
      &[id="Amumu"] {
        transform: scaleX(-1);
      }

      &[id="Azir"] {
        transform: scaleX(-1);
      }
      &[id="Akshan"] {
        transform: scaleY(-1);
      }
      &[id="Alistar"] {
        transform: scaleX(-1);
      }
      &[id="Annie"] {
        transform: scaleX(-1);
      }
      &[id="Anivia"] {
        transform: scaleX(-1);
      }
      &[id="Ashe"] {
        transform: scaleX(-1);
      }
      &[id="Yasuo"] {
        transform: scaleX(-1);
      }
      &[id="Ekko"] {
        transform: scaleX(-1);
      }
      &[id="Elise"] {
        transform: scaleX(-1);
      }
      &[id="MonkeyKing"] {
        transform: scaleX(-1);
      }
      &[id="Ornn"] {
        transform: scaleX(-1);
      }
      &[id="Orianna"] {
        transform: scaleX(-1);
      }
      &[id="Yone"] {
        transform: scaleX(-1);
      }
      &[id="Yorick"] {
        transform: scaleX(-1);
      }
      &[id="Udyr"] {
        transform: scaleX(-1);
      }
      &[id="Urgot"] {
        transform: scaleX(-1);
      }
      &[id="Warwick"] {
        transform: scaleX(-1);
      }
      &[id="Yuumi"] {
        transform: scaleX(-1);
      }
      &[id="Irelia"] {
        transform: scaleX(-1);
      }
      &[id="Ezreal"] {
        transform: scaleX(-1);
      }
      &[id="JarvanIV"] {
        transform: scaleX(-1);
      }
      &[id="Zyra"] {
        transform: scaleX(-1);
      }
      &[id="Zac"] {
        transform: scaleX(-1);
      }
      &[id="Janna"] {
        transform: scaleX(-1);
      }
      &[id="Zed"] {
        transform: scaleX(-1);
      }
      &[id="Xerath"] {
        transform: scaleX(-1);
      }
      &[id="Jayce"] {
        transform: scaleX(-1);
      }
      &[id="Ziggs"] {
        transform: scaleX(-1);
      }
      &[id="Jhin"] {
        transform: scaleX(-1);
      }
      &[id="Zilean"] {
        transform: scaleX(-1);
      }
      &[id="Jinx"] {
        transform: scaleX(-1);
      }
      &[id="Chogath"] {
        transform: scaleX(-1);
      }
      &[id="Karma"] {
        transform: scaleX(-1);
      }
      &[id="Kassadin"] {
        transform: scaleX(-1);
      }
      &[id="Karthus"] {
        transform: scaleX(-1);
      }
      &[id="Cassiopeia"] {
        transform: scaleX(-1);
      }
      &[id="Kaisa"] {
        transform: scaleX(-1);
      }
      &[id="Katarina"] {
        transform: scaleX(-1);
      }
      &[id="Kalista"] {
        transform: scaleX(-1);
      }
      &[id="Caitlyn"] {
        transform: scaleX(-1);
      }
      &[id="Kayle"] {
        transform: scaleX(-1);
      }
      &[id="KogMaw"] {
        transform: scaleX(-1);
      }
      &[id="Quinn"] {
        transform: scaleX(-1);
      }
      &[id="Qiyana"] {
        transform: scaleX(-1);
      }
      &[id="Talon"] {
        transform: scaleX(-1);
      }
      &[id="TahmKench"] {
        transform: scaleX(-1);
      }
      &[id="Trundle"] {
        transform: scaleX(-1);
      }
      &[id="Tristana"] {
        transform: scaleX(-1);
      }
      &[id="TwistedFate"] {
        transform: scaleX(-1);
      }
      &[id="Teemo"] {
        transform: scaleX(-1);
      }
      &[id="Fiddlesticks"] {
        transform: scaleX(-1);
      }
      &[id="Fiora"] {
        object-position: 70% 7%;
      }
      &[id="Fizz"] {
        transform: scaleX(-1);
      }
      &[id="Heimerdinger"] {
        transform: scaleX(-1);
      }
      &[id="Hecarim"] {
        transform: scaleX(-1);
      }
    }

    .spell {
      left: 0.5vw;
      background-color: transparent;

      img:hover {
        background-color: #bcbcbc78;
        filter: brightness(1.2);
      }
      img[data-current-target="true"] {
        background-color: #bcbcbc78;
      }
    }
  }

  .red-team__summoners {
    align-items: flex-end;

    .summoner {
      background-color: #f86e6e1c;
      &[data-current-target="true"] {
        border-left: solid 5px rgb(255, 85, 85);
      }
    }

    .summoner__name {
      left: 0.3vw;
      &:hover {
        background-color: #ccccccb7;
      }
    }
    .champion {
      &[id="Galio"] {
        transform: scaleX(-1);
      }
      &[id="Gwen"] {
        transform: scaleX(-1);
      }
      &[id="Gnar"] {
        transform: scaleX(-1);
      }

      &[id="Ryze"] {
        transform: scaleX(-1);
      }
      &[id="Renata"] {
        transform: scaleX(-1);
      }

      &[id="Rell"] {
        transform: scaleX(-1);
      }
      &[id="Rengar"] {
        transform: scaleX(-1);
      }
      &[id="Lucian"] {
        transform: scaleX(-1);
      }
      &[id="Lux"] {
        transform: scaleX(-1);
      }
      &[id="Lillia"] {
        transform: scaleX(-1);
      }
      &[id="Malzahar"] {
        transform: scaleX(-1);
      }
      &[id="Mordekaiser"] {
        transform: scaleX(-1);
      }
      &[id="Bard"] {
        transform: scaleX(-1);
      }
      &[id="Varus"] {
        transform: scaleX(-1);
      }
      &[id="Veigar"] {
        transform: scaleX(-1);
      }
      &[id="Vex"] {
        transform: scaleX(-1);
      }
      &[id="Brand"] {
        transform: scaleX(-1);
      }
      &[id="Vladimir"] {
        transform: scaleX(-1);
      }
      &[id="Blitzcrank"] {
        transform: scaleX(-1);
      }
      &[id="Viego"] {
        transform: scaleX(-1);
      }
      &[id="Poppy"] {
        transform: scaleX(-1);
      }

      &[id="Sylas"] {
        transform: scaleX(-1);
      }
      &[id="Sejuani"] {
        transform: scaleX(-1);
      }
      &[id="Shyvana"] {
        transform: scaleX(-1);
      }
      &[id="Singed"] {
        transform: scaleX(-1);
      }
      &[id="AurelionSol"] {
        transform: scaleX(-1);
      }
      &[id="Ivern"] {
        transform: scaleX(-1);
      }
      &[id="Akali"] {
        transform: scaleX(-1);
      }
      &[id="Akshan"] {
        transform: scale(-1, -1);
      }
      &[id="Aatrox"] {
        transform: scaleX(-1);
      }
      &[id="Aphelios"] {
        transform: scaleX(-1);
      }
      &[id="Olaf"] {
        transform: scaleX(-1);
      }
      &[id="Evelynn"] {
        transform: scaleX(-1);
      }
      &[id="Illaoi"] {
        transform: scaleX(-1);
      }
      &[id="Xayah"] {
        transform: scaleX(-1);
      }
      &[id="Jax"] {
        transform: scaleX(-1);
      }
      &[id="Zeri"] {
        transform: scaleX(-1);
      }
      &[id="Zoe"] {
        transform: scaleX(-1);
      }
      &[id="Camille"] {
        transform: scaleX(-1);
      }
      &[id="Khazix"] {
        transform: scaleX(-1);
      }
      &[id="Kennen"] {
        transform: scaleX(-1);
      }
      &[id="Kayn"] {
        transform: scaleX(-1);
      }
      &[id="Corki"] {
        transform: scaleX(-1);
      }
      &[id="Kled"] {
        transform: scaleX(-1);
      }
      &[id="Kindred"] {
        transform: scaleX(-1);
      }
      &[id="Taric"] {
        transform: scaleX(-1);
      }
      &[id="Taliyah"] {
        transform: scaleX(-1);
      }
      &[id="Tryndamere"] {
        transform: scaleX(-1);
      }
      &[id="Twitch"] {
        transform: scaleX(-1);
      }
      &[id="Pantheon"] {
        transform: scaleX(-1);
      }
      &[id="Fiora"] {
        transform: scaleX(-1);
      }
      &[id="Fizz"] {
        object-position: 95% 18%;
      }
      &[id="Heimerdinger"] {
        object-position: 80% 40%;
      }
      &[id="Hecarim"] {
        object-position: 85% 10%;
      }
    }
    .spell {
      right: 10px;

      img:hover {
        background-color: #cccccc8f;
        filter: brightness(1.2);
      }
      img[data-current-target="true"] {
        background-color: #bcbcbc78;
      }
    }
  }
  */
}

.board-bottom {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 13vh;

  .blue-team__ban,
  .red-team__ban {
    display: flex;
    align-items: center;
    flex: 2 1 40%;
  }

  .blue-team__ban {
    flex-direction: row;
    margin-left: 1vw;

    & div:nth-child(3) {
      margin-right: 15px;
    }

    .banned-champion-wrap {
      margin-right: 2px;
      background-color: #6e83f81c;
      transform: skewX(10deg);

      &[data-current-target="true"] {
        border-top: solid 3px rgb(85, 85, 255);
      }

      &:hover {
        background-color: #bcbcbc78;
      }
    }
  }

  .red-team__ban {
    flex-direction: row-reverse;
    margin-right: 1vw;

    & div:nth-child(3) {
      margin-left: 15px;
    }

    .banned-champion-wrap {
      margin-left: 2px;
      background-color: #f86e6e1c;
      transform: skewX(-10deg);

      &[data-current-target="true"] {
        border-top: solid 3px rgb(255, 85, 85);
      }

      &:hover {
        background-color: #cccccc7d;
      }
    }
  }
}

.board-top,
.board-bottom {
  flex-wrap: nowrap !important ;
}
