.ban-pick-board{
  color: #fff;
  position: relative;

  &::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
  }   

  &::before{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #000, #fff 50% ,#fff 50% , #000);
    opacity: 1;
    z-index: -1;
  } 
}
.board-top{ 
  position: relative;
  
  &::before{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    background: linear-gradient(90deg, #000000, transparent , #000000);
    opacity: 1;
    z-index: -1;
  }

  .team1,
  .team2,
  .match-info{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    
    &:hover{
      background-color: #bcbcbc78
    }  
  }
  
  .team1{
    flex: 2 1;

    .team1__logo{
      width : 25%
    }
  }
  .team2{
    flex: 2 1;

    .team2__logo{
      width : 25%
    }
  }
  .match-info{
    flex: 1 0 ;
    flex-direction: column;

  }  
}

.team1__name,
.team2__name{  
  position: relative;

  .team__select{
    color: #fff;
    text-align: center;
    font-size : 40px;
    background-color: transparent;
    border: none;
    
    
    .option{
      background-color: black;      
    }
  }
}




.logo{
  width : 100%;
  padding: 10px
}

  


.board-middle{
  .team1__summoners,
  .team2__summoners,
  .todays-goal{
    display: flex;
    flex-direction: column;    
  }

  .todays-goal{
    align-items: center;
  }

  .team2__summoner{
    align-items: flex-end;
  }

}