@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 100;
  src: url("../Assets/fonts/SpoqaHanSansNeo-Thin.otf") format("opentype"),
      url("../Assets/fonts/SpoqaHanSansNeo-Thin.woff") format("woff"),
      url("../Assets/fonts/SpoqaHanSansNeo-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 300;
  src: url("../Assets/fonts/SpoqaHanSansNeo-Light.otf") format("opentype"),
      url("../Assets/fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
      url("../Assets/fonts/SpoqaHanSansNeo-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: url("../Assets/fonts/SpoqaHanSansNeo-Regular.otf") format("opentype"),
      url("../Assets/fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
      url("../Assets/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: url("../Assets/fonts/SpoqaHanSansNeo-Bold.otf") format("opentype"),
      url("../Assets/fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
      url("../Assets/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}



