@import './scss/reset' ;
@import './scss/_fonts';
@import './scss/_Board';
@import './scss/_Header';
@import './scss/_Main';
@import './scss/_Footer';
@import './scss/_editorCustom';

.App{
  font-family: "Spoqa Han Sans Neo";
}

/*------------ HD+ -------------- */
@media (min-width: 1600px) {
  #ban-pick-board,
  #setting-container,
  #header-container {
    min-width: 1500px;
  }
}

/*------------ FHD -------------- */
@media (min-width: 1920px) {
  #ban-pick-board,
  #setting-container,
  #header-container {
    min-width: 1800px;
  }
}