@import "./scss/_reset";
@import "./scss/_fonts";

@import "./scss/Board/_Board";
@import "./scss/Layout/_Layout";
@import "./scss/Main/_Main";
@import "./scss/_editorCustom";

.App {
  font-family: "Spoqa Han Sans Neo";
}

/*------------ HD+ -------------- */
@media (min-width: 1600px) {
  #ban-pick-board,
  #setting-container,
  #header-container {
    min-width: 1500px;
  }
}

/*------------ FHD -------------- */
@media (min-width: 1920px) {
  #ban-pick-board,
  #setting-container,
  #header-container {
    min-width: 1800px;
  }
}
