.radio-box {
  display: flex;
  flex-direction: column;
  width: 70%;

  .radio-box__title {
    p {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      margin: 20px 0 10px 0;
    }
    .mode-tooltip-icon {
      margin-left: 5px;
      width: 18px;
      height: 18px;
      filter: brightness(0.7);
    }
    .mode-tooltip-text .multi-line {
      text-align: left !important;
    }
  }

  .radio-button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .radio-button {
      label {
        width: 12vw;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #262626a8;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #fc916077;
          transition: background-color 0.2s ease;
          box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px 5px rgba(0, 0, 0, 0.2) ;
        }  
      }

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked + label {
        background-color: #fc91609d;
      }
    }

    // 토너먼트 드래프트 개발중 -> none
    & .radio-button:nth-of-type(2) label{ 
      pointer-events: none;
    }        
  }
}